nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(to right, #000000, #141414);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: #e50914;
  letter-spacing: 1px;
}

/* Links container */
.nav-links {
  display: flex;
  gap: 25px;
}

/* Links */
.nav-links a {
  color: #ddd;
  font-size: 16px;
  transition: 0.3s;
  position: relative;
}

/* Hover effect */
.nav-links a:hover {
  color: white;
}

/* Underline animation */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #e50914;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}